%h1 Кабинеты
- unless @rooms.empty?
  %table
    %tr
      %th Номер
      %th Кабинет
      %th
      %th
    - @rooms.each do |f|
      %tr
        %td=f.number
        %td=f.name
        %td=link_to 'Изменить', edit_room_path(f)
        %td=link_to 'Удалить', f, :method => :delete, :data => {confirm: "Вы уверены?"}
        %td=link_to 'Предметы', room_subject_relations_path(:params => {:rooms_id => f.id })
- else
  .empty Пустой список

= link_to 'Новый кабинет', new_room_path()