=form_for @klass do |f|
  .box
    =f.label :name, 'Имя (номер)'
    =f.text_field :name
  .box
    =f.label :level, 'Год обучения'
    =f.text_field :level
  .box
    =f.label :level, 'Уроков в день'
    =f.text_field :lessons_per_day
  .box
    =f.label :level, 'Учебных дней в неделю'
    =f.text_field :days_per_week
  .box
    =f.label :level, 'Учебные дни'
    =f.text_field :days
  .box
    =submit_tag 'Сохранить'
    =link_to 'Назад', klasses_path()
